html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  --navBackground: #f59e0b;
  --backgroundColor: #fffbeb;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--backgroundColor);
  overflow: hidden;
}

/*NAVBAR*/
body > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background-color: var(--navBackground);
}

body > nav span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

body > nav button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > nav button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  transform: scale(1.5);
}

body > nav button:hover div {
  background-color: var(--navBackground);
}

body > nav button > div {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: black;
}
/*Navbar button styling*/

button.menu div {
  clip-path: polygon(
    0% 5%,
    100% 5%,
    100% 25%,
    0% 25%,
    0% 40%,
    100% 40%,
    100% 60%,
    0% 60%,
    0% 75%,
    100% 75%,
    100% 95%,
    0% 95%
  );
}

button.newTodo div {
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
}

button.today div {
  clip-path: polygon(
    50% 0%,
    70% 15%,
    70% 2%,
    90% 2%,
    90% 30%,
    100% 40%,
    100% 100%,
    65% 100%,
    65% 65%,
    35% 65%,
    35% 100%,
    0% 100%,
    0% 40%
  );
}

/*Main Content*/
main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

aside.hidden {
  opacity: 0;
  transform: translateX(-100%);
  display: none;
}

aside {
  margin-top: 0px;
  position: relative;
  width: 30vw;
  height: 100%;
  background-color: #ffedd5;
  transition: opacity ease 500ms, transform ease 500ms;
}

aside > ul {
  padding: 0.5em 1em;
  margin-top: 0em;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1rem;
}

aside ul li {
  padding: 0.25em 1em;
  border-radius: 5px;
}

aside ul li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

aside ul li span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

aside svg {
  width: 2em;
  height: 2em;
  stroke: black;
}

aside div.projectContainer {
  position: absolute;
  width: 70%;
  right: 1em;
  display: grid;
  grid-auto-flow: row;
  row-gap: 1em;
}

aside div.projectContainer div.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

aside div.projectContainer div.project path,
aside div.projectContainer div.project button.dialogDisplayer *,
aside div.projectContainer div.project span {
  pointer-events: none;
}

aside div.projectContainer div.project:hover,
aside div.projectContainer div.project.hovered {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

aside div.projectContainer div.project span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

aside div.projectContainer button.newProject {
  width: 80%;
  background-color: transparent;
  border: none;
  padding: 0.2em 0.5em;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-weight: 600;
  border-radius: 5px;
}

aside div.projectContainer button.newProject:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}

aside div.projectContainer button.deleteProject {
  background-color: transparent;
  border: none;
}

aside div.projectContainer button.deleteProject svg {
  width: 1.5em;
  height: 1.5em;
}

aside div.projectContainer button.deleteProject svg:hover {
  cursor: pointer;
  transform: scale(1.5);
}

aside div.projectContainer button svg {
  width: 1em;
}

/*Modals*/

dialog {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: transform ease 500ms, opacity ease 500ms;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 20% 70% 10%;
  border: none;
  border-radius: 10px;
  padding: 1em 2em;
}

dialog.hidden {
  transform: translateY(100%);
  opacity: 0;
}

dialog header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -1em;
}

dialog header h6 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

dialog span.closeDialog:hover {
  cursor: pointer;
  transform: scale(1.5) rotate(45deg);
  background-color: var(--navBackground);
}

dialog span.closeDialog {
  position: relative;
  width: 1em;
  height: 1em;
  background-color: black;
  transform: rotate(45deg);
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
}

dialog footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5em;
}

dialog footer button {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

dialog footer button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

dialog footer button:first-child {
  border: 1px solid black;
  color: black;
}

dialog footer button:first-child:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

dialog footer button:last-child {
  background-color: var(--navBackground);
  color: snow;
}

dialog.newProject {
  width: 60vh;
  height: 30vh;
}

dialog.newProject label {
  font-weight: 600;
  letter-spacing: 0.1em;
}

dialog.newProject main {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

dialog.newProject main input[type="text"] {
  padding: 0.5em 1em;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

dialog.newTodo {
  width: 50vw;
  height: 70vh;
}

dialog.newTodo main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

dialog.newTodo main section:nth-child(1),
dialog.newTodo main section:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1;
}

dialog.newTodo main section:nth-child(2) {
  column-gap: 2em;
}

dialog.newTodo main section:nth-child(1) label {
  grid-column-start: 1;
  grid-column-end: 2;
}

dialog.newTodo main section:nth-child(1) input {
  grid-column-start: 2;
  grid-column-end: 7;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

dialog.newTodo main section:nth-child(2) label:first-of-type {
  grid-column-start: 1;
  grid-column-end: 2;
}

dialog.newTodo main section:nth-child(2) input {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

dialog.newTodo main section:nth-child(2) label:last-of-type {
  grid-column-start: 4;
  grid-column-end: 5;
}

dialog.newTodo main section:nth-child(2) select {
  grid-column-start: 5;
  grid-column-end: 7;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

dialog.newTodo main section:nth-child(3) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1;
}

dialog.newTodo main section:nth-child(3) textarea {
  resize: none;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

/*Main container */
body > main.asideOpen {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1;
}

body > main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

body > main > section {
  padding: 1em 2em;
}

body > main > section > div.todoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

main > section {
  width: 100%;
  height: 100%;
}
main h1 {
  text-align: center;
  letter-spacing: 0.1em;
}

main .todoContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
}

main .todoContainer .todo {
  width: 250px;
  height: 250px;
}
