html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  --navBackground: #f59e0b;
  --backgroundColor: #fffbeb;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--backgroundColor);
  overflow: hidden;
  position: relative;
}

/*NAVBAR*/
body > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background-color: var(--navBackground);
}

body > nav span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

body > nav button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > nav button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  transform: scale(1.5);
}

body > nav button:hover div {
  background-color: var(--navBackground);
}

body > nav button > div {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: black;
}
/*Navbar button styling*/

button.menu div {
  clip-path: polygon(
    0% 5%,
    100% 5%,
    100% 25%,
    0% 25%,
    0% 40%,
    100% 40%,
    100% 60%,
    0% 60%,
    0% 75%,
    100% 75%,
    100% 95%,
    0% 95%
  );
}

button.newTodo div {
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
}

button.today div {
  clip-path: polygon(
    50% 0%,
    70% 15%,
    70% 2%,
    90% 2%,
    90% 30%,
    100% 40%,
    100% 100%,
    65% 100%,
    65% 65%,
    35% 65%,
    35% 100%,
    0% 100%,
    0% 40%
  );
}

/*Main Content*/
main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

aside.hidden {
  opacity: 0;
  transform: translateX(-100%);
  display: none;
}

aside {
  margin-top: 0px;
  position: relative;
  width: 30vw;
  height: 100%;
  background-color: #ffedd5;
  transition: opacity ease 500ms, transform ease 500ms;
}

aside > ul {
  padding: 0.5em 1em;
  margin-top: 0em;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1rem;
}

aside ul li {
  padding: 0.25em 1em;
  border-radius: 5px;
}

aside ul li:hover,
aside ul li.active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

aside ul li span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  position: relative;
}

aside svg {
  width: 2em;
  height: 2em;
  stroke: black;
}

aside button.newProject {
  width: 1em;
  height: 1em;
  background-color: black;
  border: none;
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
  position: absolute;
  right: 1em;
}

aside button.newProject:hover {
  transform: scale(1.5);
  cursor: pointer;
  background-color: var(--navBackground);
}

/*Main container */

body > main.asideOpen {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1;
}

body > main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

body > main > section {
  padding: 1em 4em;
}

body > main > section > div.todoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

body > main.asideOpen > section {
  padding: 1em;
}

main > section {
  width: 100%;
  height: 100%;
}
main h1 {
  text-align: center;
  letter-spacing: 0.1em;
}

/*Modals*/

dialog {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: transform ease 500ms, opacity ease 500ms;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 20% 65% 15%;
  border: none;
  border-radius: 10px;
  padding: 1em 2em;
}

dialog.hidden {
  transform: translateY(100%);
  opacity: 0;
}

dialog header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

dialog header h6 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

dialog span.closeDialog:hover {
  cursor: pointer;
  transform: scale(1.5) rotate(45deg);
  background-color: var(--navBackground);
}

dialog span.closeDialog {
  position: relative;
  width: 1em;
  height: 1em;
  background-color: black;
  transform: rotate(45deg);
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
}

dialog footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5em;
}

dialog footer button {
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

dialog footer button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

dialog footer button:first-child {
  border: 1px solid black;
  color: black;
}

dialog footer button:first-child:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

dialog footer button:last-child {
  background-color: var(--navBackground);
  color: snow;
}

dialog.newProject {
  width: 80vh;
  height: 30vh;
}

dialog.newProject main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1em;
  align-items: center;
}

dialog.newProject main input[type="text"] {
  padding: 0.5em 1em;
}

dialog.newProject label {
  font-weight: 600;
  letter-spacing: 0.1em;
  display: block;
}

dialog.newTodo {
  width: 50vw;
  height: 70vh;
}

dialog.newTodo > main form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, 1fr);
  gap: 2em;
}

dialog.newTodo form section:nth-child(1),
dialog.newTodo form section:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1;
}

dialog.newTodo form section:nth-child(2) {
  column-gap: 2em;
}

dialog.newTodo form section label {
  display: flex;
  align-items: center;
}

dialog.newTodo form section:nth-child(1) label {
  grid-column-start: 1;
  grid-column-end: 2;
}

dialog.newTodo form section:nth-child(1) input {
  grid-column-start: 2;
  grid-column-end: 7;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

dialog.newTodo form section:nth-child(2) label:first-of-type {
  grid-column-start: 1;
  grid-column-end: 2;
}

dialog.newTodo form section:nth-child(2) input {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

dialog.newTodo form section:nth-child(2) label:last-of-type {
  grid-column-start: 4;
  grid-column-end: 5;
}

dialog.newTodo form section:nth-child(2) select {
  grid-column-start: 5;
  grid-column-end: 7;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

dialog.newTodo form section:nth-child(3) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1;
}

dialog.newTodo form section:nth-child(3) textarea {
  resize: none;
  padding: 0.5em 1em;
  letter-spacing: 0.1em;
}

/*Projects*/
div.projectContainer {
  display: grid;
  grid-template-columns: 1;
  grid-auto-flow: row;
  row-gap: 1em;
  padding: 1em 2em;
}

dialog input {
  font-size: 1rem;
  letter-spacing: 0.1em;
}

dialog input.invalid {
  outline-style: solid;
  outline-width: 2px;
  outline-color: red;
  color: red;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

dialog.eliminationWarning h6 {
  color: red;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-weight: 700;
}

/*Checkbox animation by henry öhman from codepen*/
.project {
  padding: 1em 3em;
  background-color: #ffedd5;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.project section.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project .text {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.project span:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

div.todo .deleteBtn,
.project .deleteBtn {
  height: 1.5em;
  width: 1.5em;
  background-color: black;
  border: none;
  transform: rotate(45deg);
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
}

div.todo .deleteBtn:hover,
.project .deleteBtn:hover,
.project .expandContent:hover {
  transform: scale(1.5) rotate(45deg);
  cursor: pointer;
  background-color: var(--navBackground);
}

.project .expandContent {
  height: 1.5em;
  width: 1.5em;
  background-color: black;
  border: none;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.project .expandContent:hover,
.project .expandContent.clicked {
  cursor: pointer;
  transform: scale(1.5) rotate(90deg);
  background-color: var(--navBackground);
}

/*Project Todo section*/
.project section.main {
  padding: 1em 2em;
  display: grid;
  grid-template-columns: 1;
  grid-auto-flow: row;
  row-gap: 0.5em;
  background-color: var(--backgroundColor);
  border-radius: 10px;
  display: none;
}

.project section.main.expanded {
  display: block;
}

div.todo,
.project section.main div.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 3em;
}

div.todo > div,
.project section.main div.todo > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

div.todo > div:last-child,
.project section.main div.todo > div:last-child {
  gap: 2em;
}

div.todo > div:last-child div.showMore,
.project section.main div.todo > div:last-child div.showMore {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.25em;
}

div.todo > div:last-child div.showMore:hover,
.project section.main div.todo > div:last-child div.showMore:hover {
  cursor: pointer;
  transform: scale(1.5);
}

div.todo > div:last-child div.showMore:hover div,
.project section.main div.todo > div:last-child div.showMore:hover div {
  background-color: var(--navBackground);
}

div.todo > div:last-child div.showMore div,
.project section.main div.todo > div:last-child div.showMore div {
  border-radius: 50%;
  background-color: black;
  width: 0.5em;
  height: 0.5em;
}

div.todo input[type="checkbox"],
.project section.main input[type="checkbox"] {
  width: 2em;
  height: 2em;
  accent-color: var(--navBackground);
}

div.todo input[type="checkbox"]:checked,
.project section.main input[type="checkbox"]:checked {
  -webkit-animation: wiggle 0.4s ease;
  animation: wiggle 0.4s ease;
}

div.todo input[type="checkbox"]:checked + span.todoTitle,
.project section.main input[type="checkbox"]:checked + span.todoTitle {
  -webkit-animation: wiggle 0.4s ease;
  animation: wiggle 0.4s ease;
}

div.todo input[type="checkbox"]:hover,
.project section.main input[type="checkbox"]:hover {
  cursor: pointer;
}

div.todo span.todoTitle,
.project section.main span.todoTitle {
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 700;
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  30% {
    -webkit-transform: scale(1.25, 0.75);
    transform: scale(1.25, 0.75);
  }
  40% {
    -webkit-transform: scale(0.75, 1.25);
    transform: scale(0.75, 1.25);
  }
  50% {
    -webkit-transform: scale(1.15, 0.85);
    transform: scale(1.15, 0.85);
  }
  65% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  75% {
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes wiggle {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  30% {
    -webkit-transform: scale(1.25, 0.75);
    transform: scale(1.25, 0.75);
  }
  40% {
    -webkit-transform: scale(0.75, 1.25);
    transform: scale(0.75, 1.25);
  }
  50% {
    -webkit-transform: scale(1.15, 0.85);
    transform: scale(1.15, 0.85);
  }
  65% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  75% {
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
